@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@using PafoodicSeacod.ViewModels
@model NewsletterViewModel



@if (User.Identity.IsAuthenticated)
{
    <p>Hello, @User.Identity.Name</p>
    <p>Here is a list of all the mailing list subscribers...</p>

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class-"btn btn-default" value="Log out" />
    }
}
else
{

    @using (Html.BeginForm())
    {
        @Html.LabelFor(signup => signup.Email)
        @Html.TextBoxFor(signup => signup.Email)

        <input type="submit" class="btn" />
    }


    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>


}
